In [30]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [31]:
# read in file
file = 'NCAP_Program5008_COASTdata_AllSystems_04.2023.csv'

df = pd.read_csv(file)
df.head()

,LATITUDE,LONGITUDE,SEASON,TYPE,COUNTY,SYSTEM,STATION,WIN_Org_ID,WIN_Station _ID,YYYY,...,WIND_DIR,WEATHER_CODE,TP_µg/L,TN_µg/L,CHL_µg/L_uncorrected,CHL_µg/L_corrected,COLOR_PCU,Kd_average,Kd_Z>= 0.5m_average,Notes
0,28.71605,-82.57792,Spring,River,Citrus,Chassahowitzka,1,21FLUFSW,HER-CHA-1,2021,...,SSW,1,19,490,1,0,3.9477,0.651128,0.651128,NaN
1,28.71479,-82.60808,Spring,River,Citrus,Chassahowitzka,2,21FLUFSW,HER-CHA-2,2021,...,SSW,1,25,300,5,4,17.9133,1.287313,1.287313,NaN
2,28.70507,-82.62015,Spring,Estuary,Citrus,Chassahowitzka,3,21FLUFSW,HER-CHA-3,2021,...,SSW,1,19,210,4,2,24.3720,1.221542,1.221542,NaN
3,28.69209,-82.64131,Spring,Estuary,Hernando,Chassahowitzka,4,21FLUFSW,HER-CHA-4,2021,...,SSW,1,15,230,3,1,20.7020,1.049909,1.049909,NaN
4,28.67500,-82.65833,Spring,Estuary,Hernando,Chassahowitzka,5,21FLUFSW,HER-CHA-5,2021,...,SSW,1,16,360,2,1,19.9490,1.088721,1.088721,NaN

In [32]:
# convert YYYY, MM, DD columns to datetime in 'Date' column
df['Date'] = pd.to_datetime(dict(year=df.YYYY, month=df.MM, day=df.DD))

In [33]:
df.Date.min()

Timestamp('2021-03-17 00:00:00')

In [34]:
# create new DataFrame with selected columns
df2 = df[['Date','YYYY','COUNTY','SYSTEM','STATION','TEMP_°C','SP_COND_µs/cm','SAL_°/°°', 'DO_mg/L', 'DO_%', 'pH_SU','TP_µg/L', 'TN_µg/L',
          'CHL_µg/L_corrected', 'COLOR_PCU','Kd_average','TYPE']]

In [35]:
# rename columns for ease of use
df2 = df2.rename(columns={'TEMP_°C': 'temp', 'SP_COND_µs/cm': 'spc', 'SAL_°/°°':'sal','DO_mg/L':'DO','TP_µg/L':'TP','TN_µg/L':'TN','CHL_µg/L_corrected':'CHL', 'YYYY':'year'})

In [36]:
df2.head()

,Date,year,COUNTY,SYSTEM,STATION,temp,spc,sal,DO,DO_%,pH_SU,TP,TN,CHL,COLOR_PCU,Kd_average,TYPE
0,2021-03-17,2021,Citrus,Chassahowitzka,1,24.1,7462.0,4.16,7.02,86.7,7.52,19,490,0,3.9477,0.651128,River
1,2021-03-17,2021,Citrus,Chassahowitzka,2,24.8,9071.0,5.04,7.31,90.8,7.82,25,300,4,17.9133,1.287313,River
2,2021-03-17,2021,Citrus,Chassahowitzka,3,23.7,19104.0,11.35,6.27,79.1,7.75,19,210,2,24.3720,1.221542,Estuary
3,2021-03-17,2021,Hernando,Chassahowitzka,4,23.1,24031.0,14.58,5.90,68.9,7.86,15,230,1,20.7020,1.049909,Estuary
4,2021-03-17,2021,Hernando,Chassahowitzka,5,23.1,27371.0,16.82,6.13,78.6,7.85,16,360,1,19.9490,1.088721,Estuary

In [37]:
df2['doy'] = df2.Date.dt.day_of_year
df2.head()

,Date,year,COUNTY,SYSTEM,STATION,temp,spc,sal,DO,DO_%,pH_SU,TP,TN,CHL,COLOR_PCU,Kd_average,TYPE,doy
0,2021-03-17,2021,Citrus,Chassahowitzka,1,24.1,7462.0,4.16,7.02,86.7,7.52,19,490,0,3.9477,0.651128,River,76
1,2021-03-17,2021,Citrus,Chassahowitzka,2,24.8,9071.0,5.04,7.31,90.8,7.82,25,300,4,17.9133,1.287313,River,76
2,2021-03-17,2021,Citrus,Chassahowitzka,3,23.7,19104.0,11.35,6.27,79.1,7.75,19,210,2,24.3720,1.221542,Estuary,76
3,2021-03-17,2021,Hernando,Chassahowitzka,4,23.1,24031.0,14.58,5.90,68.9,7.86,15,230,1,20.7020,1.049909,Estuary,76
4,2021-03-17,2021,Hernando,Chassahowitzka,5,23.1,27371.0,16.82,6.13,78.6,7.85,16,360,1,19.9490,1.088721,Estuary,76

In [38]:
# cha = df2[df2.SYSTEM=='Chassahowitzka']
# cha = cha.drop(columns=['Date','year','COUNTY','SYSTEM'])
# cha = cha[['temp', 'spc', 'sal', 'DO', 'DO_%', 'pH_SU', 'TP', 'TN',
#        'CHL', 'COLOR_PCU', 'Kd_average', 'STATION', 'TYPE']]
# cha.to_excel(f'cha_{file_out}', index=False)

In [39]:
systems = df2.SYSTEM.unique()
systems

array(['Chassahowitzka', 'Weeki Wachee', 'Aripeka', 'Hudson',
       'Pithlachascotee', 'Anclote', 'Crystal', 'Withlacoochee',
       'Homosassa'], dtype=object)

In [40]:
# # wet season
# df2[(df2.doy >= 135) & (df2.doy <= 288)]

# # dry season
# df2[(df2.doy >= 1) & (df2.doy <= 134)]

In [61]:
def primer_output(df2, sys, season):
    # subset for wet, dry season or All seasons
    if season == "wet":
        df = df2[(df2.doy >= 135) & (df2.doy <= 288)]
        file_out = f'output/wet/{sys}_wet_NCAP.xlsx'
    elif season == "dry":
        df = df2[(df2.doy >= 1) & (df2.doy <= 134)]
        file_out = f'output/dry/{sys}_dry_NCAP.xlsx'
    else:
        df = df2
        file_out = 'output/NCAP_All.xlsx'
        
    sys_df = df[df.SYSTEM==sys]
    sys_df = sys_df.drop(columns=['Date','year','COUNTY','SYSTEM'])
    # empty column to separate factors for primer
    sys_df[''] = ''
    sys_df = sys_df[['temp','spc','sal', 'DO', 'DO_%', 'pH_SU', 'TP', 'TN',
       'CHL', 'COLOR_PCU', 'Kd_average', '', 'STATION', 'TYPE']]
    
    sys_df.to_excel(file_out, index=False)
    return print(f'.xlsx output created for: {sys}, {season} season')

In [62]:
for sys in systems:
    primer_output(df2, sys, "dry")
    primer_output(df2, sys, "wet")
    primer_output(df2, sys, "All")

.xlsx output created for: Chassahowitzka, dry season
.xlsx output created for: Chassahowitzka, wet season
.xlsx output created for: Chassahowitzka, All season
.xlsx output created for: Weeki Wachee, dry season
.xlsx output created for: Weeki Wachee, wet season
.xlsx output created for: Weeki Wachee, All season
.xlsx output created for: Aripeka, dry season
.xlsx output created for: Aripeka, wet season
.xlsx output created for: Aripeka, All season
.xlsx output created for: Hudson, dry season
.xlsx output created for: Hudson, wet season
.xlsx output created for: Hudson, All season
.xlsx output created for: Pithlachascotee, dry season
.xlsx output created for: Pithlachascotee, wet season
.xlsx output created for: Pithlachascotee, All season
.xlsx output created for: Anclote, dry season
.xlsx output created for: Anclote, wet season
.xlsx output created for: Anclote, All season
.xlsx output created for: Crystal, dry season
.xlsx output created for: Crystal, wet season
.xlsx output created for: Crystal, All season
.xlsx output created for: Withlacoochee, dry season
.xlsx output created for: Withlacoochee, wet season
.xlsx output created for: Withlacoochee, All season
.xlsx output created for: Homosassa, dry season
.xlsx output created for: Homosassa, wet season
.xlsx output created for: Homosassa, All season